In [200]:
import pandas as pd
df1= pd.read_csv("dec.csv")
df1.head()

,DY,MAX,MIN,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,1,57,42,50,6,15,0,0,0,0,8.1,20,330,M,M,2,1,23,320
1,2,53,36,45,1,20,0,0,0,0,3.0,10,50,M,M,5,0,11,50
2,3,57,38,48,5,17,0,0.03,0,0,4.3,15,340,M,M,5,1,20,300
3,4,56,36,46,3,19,0,0,0,0,4.6,15,160,M,M,6,8,17,160
4,5,60,45,53,10,12,0,0.07,0,0,8.6,20,180,M,M,9,1,24,190

In [201]:
df1.dtypes

DY          int64
MAX         int64
MIN         int64
AVG         int64
DEP         int64
HDD         int64
CDD         int64
 WTR       object
SNW        object
DPTH       object
SPD       float64
SPD .1      int64
DIR         int64
MIN .1     object
PSBL       object
S-S         int64
WX          int64
SPD .2      int64
DR          int64
dtype: object

In [202]:
df1["MIN .1"].value_counts()

  M     31
Name: MIN .1, dtype: int64

In [203]:
df1["PSBL "].value_counts()

   M     31
Name: PSBL , dtype: int64

In [204]:
#df1=df1.drop(['DY '],axis=1)

In [205]:
df1=df1.drop(['DY ','MAX ','MIN '], axis= 1)
df1.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,50,6,15,0,0,0,0,8.1,20,330,M,M,2,1,23,320
1,45,1,20,0,0,0,0,3.0,10,50,M,M,5,0,11,50
2,48,5,17,0,0.03,0,0,4.3,15,340,M,M,5,1,20,300
3,46,3,19,0,0,0,0,4.6,15,160,M,M,6,8,17,160
4,53,10,12,0,0.07,0,0,8.6,20,180,M,M,9,1,24,190

In [206]:
df2=df1.replace(regex=[r'^ba.$', 'M','T'], value=0)
#df1.replace(regex=[r'^ba.$', 'T'], value=0)

In [207]:
df2.head()  # dec

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,50,6,15,0,0,0,0,8.1,20,330,0,0,2,1,23,320
1,45,1,20,0,0,0,0,3.0,10,50,0,0,5,0,11,50
2,48,5,17,0,0.03,0,0,4.3,15,340,0,0,5,1,20,300
3,46,3,19,0,0,0,0,4.6,15,160,0,0,6,8,17,160
4,53,10,12,0,0.07,0,0,8.6,20,180,0,0,9,1,24,190

In [208]:
df3= pd.read_csv("nov.csv")
df1.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,50,6,15,0,0,0,0,8.1,20,330,M,M,2,1,23,320
1,45,1,20,0,0,0,0,3.0,10,50,M,M,5,0,11,50
2,48,5,17,0,0.03,0,0,4.3,15,340,M,M,5,1,20,300
3,46,3,19,0,0,0,0,4.6,15,160,M,M,6,8,17,160
4,53,10,12,0,0.07,0,0,8.6,20,180,M,M,9,1,24,190

In [209]:
df3=df3.drop(['DY ','MAX ','MIN '], axis= 1)
df4=df3.replace(regex=[r'^ba.$', 'M','T'], value=0)  
df4.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,55,1,10,0,0,0,0,6.0,12,30,0,0,9,0,14,30
1,64,10,1,0,0,0,0,6.7,18,210,0,0,6,0,22,210
2,68,14,0,3,0,0,0,8.6,20,10,0,0,5,0,26,10
3,55,1,10,0,0.58,0,0,8.1,20,20,0,0,8,1,26,30
4,58,5,7,0,0.09,0,0,6.1,14,200,0,0,10,1,21,200

In [210]:
df5= pd.read_csv("oct.csv")
df5=df5.drop(['DY ','MAX ','MIN '], axis= 1)
df6=df5.replace(regex=[r'^ba.$', 'M','T'], value=0)  
df6.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,61,-4,4,0,0,0,0,5.9,15,30,0,0,1,0,18,30
1,63,-1,2,0,0,0,0,3.7,13,130,0,0,2,0,14,130
2,66,2,0,1,0,0,0,5.5,12,140,0,0,2,0,14,140
3,67,3,0,2,0,0,0,7.0,14,180,0,0,1,0,17,170
4,69,6,0,4,0,0,0,7.1,16,170,0,0,6,0,17,170

In [211]:
df7= pd.read_csv("sept.csv")
df7=df7.drop(['DY ','MAX ','MIN '], axis= 1)
df8=df7.replace(regex=[r'^ba.$', 'M','T'], value=0)  
df8.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,68,-8,0,3,0,0,0,10.2,20,20,0,0,10,0,24,30
1,61,-15,4,0,0.77,0,0,9.3,15,50,0,0,10,1,20,100
2,72,-3,0,7,0,0,0,6.4,17,250,0,0,5,1,23,260
3,72,-3,0,7,0,0,0,9.2,18,190,0,0,3,0,23,170
4,78,3,0,13,0.07,0,0,9.1,22,170,0,0,5,13,27,330

In [212]:
df9= pd.read_csv("aug.csv")
df9=df9.drop(['DY ','MAX ','MIN '], axis= 1)
df10=df9.replace(regex=[r'^ba.$', 'M','T'], value=0)  
df10.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,81,2,0,16,0,0,0,5.6,23,50,0,0,5,3,27,50
1,82,3,0,17,0,0,0,7.2,18,210,0,0,7,0,25,200
2,81,2,0,16,0.06,0,0,5.8,23,320,0,0,4,13,27,310
3,82,3,0,17,0,0,0,10.6,18,170,0,0,3,0,24,150
4,76,-3,0,11,0,0,0,11.5,29,320,0,0,6,0,35,310

In [213]:
df11= pd.read_csv("july.csv")
df11=df11.drop(['DY ','MAX ','MIN '], axis= 1)
df12=df11.replace(regex=[r'^ba.$', 'M','T'], value=0)  
df12.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,83,4,0,18,0.65,0,0,9.7,28,290,0,0,7,13,33,290
1,84,5,0,19,0,0,0,5.7,15,220,0,0,7,0,19,220
2,84,5,0,19,0,0,0,6.4,15,350,0,0,7,0,19,330
3,84,5,0,19,0.04,0,0,4.9,20,300,0,0,8,38,23,300
4,79,-1,0,14,0.7,0,0,7.8,21,170,0,0,10,18,24,170

In [214]:
df13= pd.read_csv("june.csv")
df13=df13.drop(['DY ','MAX ','MIN '], axis= 1)
df14=df13.replace(regex=[r'^ba.$', 'M','T'], value=0)  
df14.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,74,3,0,9,0,0,0,6.9,21,290,0,0,5,0,27,280
1,72,1,0,7,0,0,0,8.1,23,330,0,0,3,0,29,330
2,74,2,0,9,0,0,0,9.4,23,320,0,0,5,0,27,320
3,75,3,0,10,0,0,0,9.1,17,190,0,0,6,0,22,190
4,73,1,0,8,0,0,0,7.4,17,340,0,0,10,0,21,340

In [215]:
result = pd.concat([df14,df12,df10,df8,df6,df4,df2])
result

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,74,3,0,9,0,0,0,6.9,21,290,0,0,5,0,27,280
1,72,1,0,7,0,0,0,8.1,23,330,0,0,3,0,29,330
2,74,2,0,9,0,0,0,9.4,23,320,0,0,5,0,27,320
3,75,3,0,10,0,0,0,9.1,17,190,0,0,6,0,22,190
4,73,1,0,8,0,0,0,7.4,17,340,0,0,10,0,21,340
5,72,0,0,7,0,0,0,10.7,23,320,0,0,6,0,29,300
6,64,-9,1,0,0,0,0,9.0,17,50,0,0,8,0,22,60
7,66,-7,0,1,0,0,0,7.1,14,60,0,0,4,8,18,50
8,72,-2,0,7,0,0,0,7.5,17,270,0,0,4,0,23,310
9,76,2,0,11,0,0,0,7.5,17,170,0,0,5,0,20,160
10,82,8,0,17,0,0,0,7.6,16,200,0,0,2,0,23,170
11,85,11,0,20,0,0,0,6.4,16,240,0,0,4,0,20,240
12,85,10,0,20,0,0,0,7.9,21,210,0,0,6,0,24,210
13,83,8,0,18,0,0,0,8.9,20,350,0,0,3,3,23,340
14,79,4,0,14,0,0,0,7.8,15,110,0,0,7,0,24,140
15,77,1,0,12,0.36,0,0,4.5,13,120,0,0,8,13,15,120
16,82,6,0,17,0,0,0,9.5,17,170,0,0,8,0,22,170
17,84,8,0,19,0,0,0,15.2,25,200,0,0,8,0,31,200
18,81,5,0,16,0.53,0,0,14.9,40,260,0,0,7,13,52,250
19,79,2,0,14,0,0,0,9.2,24,210,0,0,7,0,29,210
20,81,4,0,16,0,0,0,8.7,16,200,0,0,6,0,23,270
21,82,5,0,17,0,0,0,7.2,14,210,0,0,9,0,18,230
22,81,3,0,16,0.1,0,0,14.3,25,210,0,0,9,1,33,220
23,82,4,0,17,0.07,0,0,11.8,29,210,0,0,7,1,38,220
24,80,2,0,15,0,0,0,9.1,21,320,0,0,6,0,27,310
25,76,-2,0,11,0,0,0,9.8,20,340,0,0,4,0,24,340
26,74,-4,0,9,0.07,0,0,8.7,18,320,0,0,6,0,23,320
27,72,-6,0,7,0,0,0,7.6,16,180,0,0,4,0,21,10
28,79,0,0,14,0,0,0,12.9,21,170,0,0,6,0,26,200
29,84,5,0,19,0,0,0,13.2,29,200,0,0,5,0,37,210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,45,1,20,0,0,0,0,3.0,10,50,0,0,5,0,11,50
2,48,5,17,0,0.03,0,0,4.3,15,340,0,0,5,1,20,300
3,46,3,19,0,0,0,0,4.6,15,160,0,0,6,8,17,160
4,53,10,12,0,0.07,0,0,8.6,20,180,0,0,9,1,24,190
5,50,8,15,0,0,0,0,11.4,31,330,0,0,10,0,37,310
6,46,4,19,0,0,0,0,7.9,16,310,0,0,8,0,22,310
7,40,-2,25,0,0,0,0,5.3,14,180,0,0,10,0,16,180
8,35,-6,30,0,0.18,1.5,0,7.2,15,10,0,0,10,1,19,10
9,36,-5,29,0,0,0,2,7.0,16,270,0,0,8,0,22,280
10,42,1,23,0,0,0,0,7.2,17,180,0,0,6,0,20,170
11,37,-3,28,0,0,0,0,13.4,30,320,0,0,9,0,39,310
12,30,-10,35,0,0,0,0,15.1,29,300,0,0,5,8,37,300
13,38,-2,27,0,0,0,0,12.7,26,330,0,0,7,0,34,340
14,28,-12,37,0,0.01,0.2,0,5.6,13,50,0,0,8,1,18,30
15,37,-2,28,0,0,0,0,8.8,21,200,0,0,3,0,26,210
16,40,1,25,0,0,0,0,3.0,9,180,0,0,7,0,10,190
17,48,9,17,0,0,0,0,3.9,12,170,0,0,8,0,14,170
18,51,12,14,0,0,0,0,6.2,15,240,0,0,6,0,20,240
19,47,9,18,0,0,0,0,8.9,18,330,0,0,8,0,25,300
20,39,1,26,0,0,0,0,3.8,12,110,0,0,2,0,13,110
21,47,9,18,0,0,0,0,5.3,15,210,0,0,9,0,19,210
22,55,17,10,0,0.18,0,0,12.5,31,310,0,0,9,1,43,320
23,43,5,22,0,0,0,0,8.4,17,330,0,0,9,0,21,330
24,36,-1,29,0,0,0,0,13.4,31,310,0,0,7,0,44,300
25,35,-2,30,0,0,0,0,7.4,16,260,0,0,8,0,22,260
26,26,-11,39,0,0,0,0,12.0,24,340,0,0,8,0,29,340
27,21,-16,44,0,0,0,0,10.8,22,340,0,0,5,0,29,340
28,26,-11,39,0,0,0,0,7.5,16,300,0,0,7,0,20,300
29,28,-9,37,0,0.03,0.2,0,7.9,29,330,0,0,9,1,36,330
30,20,-16,45,0,0,0,0,12.2,24,340,0,0,5,0,29,340

In [216]:
result=result.reset_index()
final=result.drop("index", axis =1)

In [217]:
final.head()

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,74,3,0,9,0,0,0,6.9,21,290,0,0,5,0,27,280
1,72,1,0,7,0,0,0,8.1,23,330,0,0,3,0,29,330
2,74,2,0,9,0,0,0,9.4,23,320,0,0,5,0,27,320
3,75,3,0,10,0,0,0,9.1,17,190,0,0,6,0,22,190
4,73,1,0,8,0,0,0,7.4,17,340,0,0,10,0,21,340

In [218]:
final.shape

(214, 16)

In [219]:
import numpy as np
import matplotlib.pyplot as plt
d1 = pd.read_csv("b.csv")
d1 = d1["start_time"]
d1 = pd.to_datetime(d1)
df_t = d1.dt.date
df_f = df_t.value_counts()
df_f = pd.Series.to_frame(df_f)
df_f.head()

            start_time
2017-10-26        4682
2017-11-07        4528
2017-11-14        4487
2017-10-24        4473
2017-12-06        4391

In [220]:
df_f = df_f.reset_index()
df_f = df_f.rename(columns={'index': 'Date_start', 'start_time' : 'Count'})
df_f = df_f.sort_values(by='Date_start')
df_f = df_f.reset_index(drop = True)

In [221]:
df_f.shape

(187, 2)

In [222]:
final.drop(final.index[:27], inplace=True)
final.head(5)

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
27,72,-6,0,7,0,0,0,7.6,16,180,0,0,4,0,21,10
28,79,0,0,14,0,0,0,12.9,21,170,0,0,6,0,26,200
29,84,5,0,19,0,0,0,13.2,29,200,0,0,5,0,37,210
30,83,4,0,18,0.65,0,0,9.7,28,290,0,0,7,13,33,290
31,84,5,0,19,0,0,0,5.7,15,220,0,0,7,0,19,220

In [223]:
final = final.reset_index(drop = True)
final.head(5)

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR
0,72,-6,0,7,0,0,0,7.6,16,180,0,0,4,0,21,10
1,79,0,0,14,0,0,0,12.9,21,170,0,0,6,0,26,200
2,84,5,0,19,0,0,0,13.2,29,200,0,0,5,0,37,210
3,83,4,0,18,0.65,0,0,9.7,28,290,0,0,7,13,33,290
4,84,5,0,19,0,0,0,5.7,15,220,0,0,7,0,19,220

In [224]:
final = final.iloc[0:187]
final=final.reset_index(drop = True)

In [225]:
df_final = pd.concat([final,df_f], axis =1)
df_final.head(5)

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR,Date_start,Count
0,72,-6,0,7,0,0,0,7.6,16,180,0,0,4,0,21,10,2017-06-28,632
1,79,0,0,14,0,0,0,12.9,21,170,0,0,6,0,26,200,2017-06-29,1019
2,84,5,0,19,0,0,0,13.2,29,200,0,0,5,0,37,210,2017-06-30,1038
3,83,4,0,18,0.65,0,0,9.7,28,290,0,0,7,13,33,290,2017-07-01,475
4,84,5,0,19,0,0,0,5.7,15,220,0,0,7,0,19,220,2017-07-02,523

In [226]:
df_final.dtypes

AVG             int64
DEP             int64
HDD             int64
CDD             int64
 WTR           object
SNW            object
DPTH           object
SPD           float64
SPD .1          int64
DIR             int64
MIN .1          int64
PSBL            int64
S-S             int64
WX              int64
SPD .2          int64
DR              int64
Date_start     object
Count           int64
dtype: object

In [237]:
#df_final=df_final.replace(regex=[r'^ba.$',"" ], value=0)
#df_final.drop([' WTR ','SNW ','DPTH '],axis=1)
df_final[' WTR ']

KeyError: ' WTR '

In [228]:
df_final.head(10)

,AVG,DEP,HDD,CDD,WTR,SNW,DPTH,SPD,SPD .1,DIR,MIN .1,PSBL,S-S,WX,SPD .2,DR,Date_start,Count
0,72,-6,0,7,0,0,0,7.6,16,180,0,0,4,0,21,10,2017-06-28,632
1,79,0,0,14,0,0,0,12.9,21,170,0,0,6,0,26,200,2017-06-29,1019
2,84,5,0,19,0,0,0,13.2,29,200,0,0,5,0,37,210,2017-06-30,1038
3,83,4,0,18,0.65,0,0,9.7,28,290,0,0,7,13,33,290,2017-07-01,475
4,84,5,0,19,0,0,0,5.7,15,220,0,0,7,0,19,220,2017-07-02,523
5,84,5,0,19,0,0,0,6.4,15,350,0,0,7,0,19,330,2017-07-03,600
6,84,5,0,19,0.04,0,0,4.9,20,300,0,0,8,38,23,300,2017-07-04,558
7,79,-1,0,14,0.7,0,0,7.8,21,170,0,0,10,18,24,170,2017-07-05,1103
8,78,-2,0,13,0.87,0,0,7.3,14,60,0,0,9,13,17,60,2017-07-06,1277
9,82,2,0,17,0.01,0,0,8.6,26,270,0,0,6,1,34,260,2017-07-07,1126

In [185]:
df_final.isnull().sum()

AVG           0
DEP           0
HDD           0
CDD           0
 WTR          0
SNW           0
DPTH          0
SPD           0
SPD .1        0
DIR           0
MIN .1        0
PSBL          0
S-S           0
WX            0
SPD .2        0
DR            0
Date_start    0
Count         0
dtype: int64

In [244]:
x=df_final.drop(['Date_start','Count'],axis=1)
y=df_final['Count']
x=x.astype('float')

In [245]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [246]:
from sklearn import svm
from math import sqrt
from sklearn.metrics import mean_squared_error
clf = svm.SVC()
print(clf.fit(x_train, y_train)) 
prediction1 = clf.predict(x_test)
prediction2 = clf.predict(x_train)
rms = sqrt(mean_squared_error(y_test, prediction1))
print("RMSE_test:",rms)
rms_1 = sqrt(mean_squared_error(y_train,prediction2))
print("RMSE_train:",rms_1)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)
RMSE_test: 1195.6034371593987
RMSE_train: 46.5323730854815

In [247]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)
print(clf.fit(x_train,y_train))
prediction1 = clf.predict(x_test)
prediction2 = clf.predict(x_train)
rms = sqrt(mean_squared_error(y_test, prediction1))
print("RMSE_test:",rms)
rms_1 = sqrt(mean_squared_error(y_train,prediction2))
print("RMSE_train:",rms_1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
RMSE_test: 1589.6526846750949
RMSE_train: 23.26618654274075

In [249]:
from sklearn.cluster import KMeans
from matplotlib import style
style.use("ggplot")
from sklearn.cluster import KMeans

kmeans=KMeans(n_clusters=10)
print(kmeans.fit(x_train,y_train))
prediction1 = clf.predict(x_test)
prediction2 = clf.predict(x_train)
rms = sqrt(mean_squared_error(y_test, prediction1))
print("RMSE_test:",rms)
rms_1 = sqrt(mean_squared_error(y_train,prediction2))
print("RMSE_train:",rms_1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=10, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)
RMSE_test: 1589.6526846750949
RMSE_train: 23.26618654274075

In [251]:
from sklearn.neighbors.nearest_centroid import NearestCentroid
clf = NearestCentroid()
print(clf.fit(x_train, y_train)) 
prediction1 = clf.predict(x_test)
prediction2 = clf.predict(x_train)
rms = sqrt(mean_squared_error(y_test, prediction1))
print("RMSE_test:",rms)
rms_1 = sqrt(mean_squared_error(y_train,prediction2))
print("RMSE_train:",rms_1)

NearestCentroid(metric='euclidean', shrink_threshold=None)
RMSE_test: 1544.8485532995066
RMSE_train: 257.80241901177374

In [252]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier()
print(clf.fit(x_train, y_train))
prediction1 = clf.predict(x_test)
prediction2 = clf.predict(x_train)
rms = sqrt(mean_squared_error(y_test, prediction1))
print("RMSE_test:",rms)
rms_1 = sqrt(mean_squared_error(y_train,prediction2))
print("RMSE_train:",rms_1)

SGDClassifier(alpha=0.0001, average=False, class_weight=None, epsilon=0.1,
       eta0=0.0, fit_intercept=True, l1_ratio=0.15,
       learning_rate='optimal', loss='hinge', max_iter=None, n_iter=None,
       n_jobs=1, penalty='l2', power_t=0.5, random_state=None,
       shuffle=True, tol=None, verbose=0, warm_start=False)
RMSE_test: 1377.8361658774966
RMSE_train: 1463.7607168665277

/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/stochastic_gradient.py:128: FutureWarning: max_iter and tol parameters have been added in <class 'sklearn.linear_model.stochastic_gradient.SGDClassifier'> in 0.19. If both are left unset, they default to max_iter=5 and tol=None. If tol is not None, max_iter defaults to max_iter=1000. From 0.21, default max_iter will be 1000, and default tol will be 1e-3.
  "and default tol will be 1e-3." % type(self), FutureWarning)

In [253]:
from sklearn.decomposition import PCA
pca = PCA()
print(pca.fit(x_train,y_train))
prediction1 = clf.predict(x_test)
prediction2 = clf.predict(x_train)
rms = sqrt(mean_squared_error(y_test, prediction1))
print("RMSE_test:",rms)
rms_1 = sqrt(mean_squared_error(y_train,prediction2))
print("RMSE_train:",rms_1)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)
RMSE_test: 1377.8361658774966
RMSE_train: 1463.7607168665277

In [255]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression 
lm=linear_model.LinearRegression()
lm.fit(x_train,y_train)
prediction1 = lm.predict(x_test)
prediction2 = lm.predict(x_train)
rms = sqrt(mean_squared_error(y_test, prediction1))
print("RMSE_test:",rms)
rms_1 = sqrt(mean_squared_error(y_train,prediction2))
print("RMSE_train:",rms_1)

RMSE_test: 1261.4518981360422
RMSE_train: 913.1463796894753